<div id="limPayCatRow">
<div class="row">
	<div class="col-sm-6">
		{{#each assets}}
			{{#selectAsset assetId "18"}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12">
								<h2 class="panel-title">
									<span id="payCategoryMakerInfoCaret" class="fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>
									<span>{{getLabel "lbl.clientUser.limit.payCategoryMakerInfoCaret" "Maker - Payment Category"}}</span>
									<img id = "makerLimit_PaymentCategory" data-makerPaymentCategoryEnabled = "{{ makerPaymentCategoryEnabled }}" tabindex="1" 
										 src="{{checkBoxIcon makerPaymentCategoryEnabled}}" class="chkBoxAlign" width="16" height="16" border="0">
								</h2>
							</div>
						</div>
					</div>
					<div id="payCategoryMakerInfoDiv"  class="panel-body">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>{{getLabel  "lbl.clientUser.limit.templatePayCat.defaultLimitProfile" "Default Limit Profile"}}</label>
								
								{{#if makerPaymentCategoryEnabled}}
									<select id="defMaker_PaymentCategory" name="defMaker_PaymentCategory" class="form-control" tabindex="1">
								{{else}}
									<select id="defMaker_PaymentCategory" name="defMaker_PaymentCategory" class="form-control" disabled="disabled" tabindex="1">
								{{/if}}	
									<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
									{{#each profileList}}
										{{option profileId profileDescription assignedFlag }}
									{{/each}}
								</select>
							</div>
						</div>
						
						
								<div class="grid">
									<table class="view-grid" style="width:100%;table-layout: fixed;">
										<thead>
											<tr class="view-grid-header">
												<td class="view-grid-header-text" style="width: 60%;">{{getLabel "lbl.clientUser.limit.PaymentCat" "Payment Categories"}}</td>
												<td class="view-grid-header-text" style="width: 40%;">{{getLabel "lbl.clientUser.limit.PaymentCat.limitPrf" "Limit Profile"}}</td>
											</tr>
														
										</thead>			
										<tbody>	
										{{#if makerPaymentCategoryEnabled}}
											  {{#each makerPaymentCategory}}
											  		<tr class="view-grid-body">
											  			<td class="view-grid-body-content textWrap" title="{{categoryDescription}}" id="{{categoryCode}}" style="width: 60%;">{{getLabel categoryDescription categoryDescription}}</td>
											  			<td class="view-grid-body-content" style="width: 40%;">
										  					<select id="PaymentCategory_maker_{{categoryCode}}" name="PaymentCategory_maker_{{categoryCode}}" 
											  					data-categoryCode="{{ categoryCode }}" data-categoryCode="{{ categoryDescription }}" class="form-control profileSelect" tabindex="1">
																	<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
																	{{custProfileSelectOption ../profileList tempTypeCode tempTypeDescription }}																	
															</select>
											  			</td>
													</tr>
											  {{else}}
													<tr class="view-grid-body">
															<td class="view-grid-body-content" colSpan="2" style="padding-bottom: 1%;" >&nbsp</td>
													</tr>
											 {{/each}}	
										{{else}}
											 {{#each makerPaymentCategory}}
										  		<tr class="view-grid-body">
										  			<td class="view-grid-body-content textWrap" title="{{categoryDescription}}">{{getLabel categoryDescription categoryDescription}}</td>
										  			<td class="view-grid-body-content">
											  			<select id="PaymentCategory_maker_{{categoryCode}}" name="PaymentCategory_maker_{{categoryCode}}" data-categoryCode="{{ categoryCode }}" data-categoryCode="{{ categoryDescription }}" class="form-control profileSelect" disabled="disabled" tabindex="1">
															<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
															{{custProfileSelectOption ../profileList tempTypeCode tempTypeDescription }}																	
														</select>
										  			</td>
												</tr>
											 {{/each}}	
										{{/if}}	 
										</tbody>
									</table>
								</div>
							
					</div>
				</div>
			{{/selectAsset}}
		{{/each}}
	</div>
	<div class="col-sm-6">
		{{#each assets}}
			{{#selectAsset assetId "18"}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12">
								<h2 class="panel-title">
									<span id="payCategoryCheckerInfoCaret" class="fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>
									<span>{{getLabel "lbl.clientUser.limit.payCategoryCheckerInfoCaret" "Checker - Payment Category"}}</span>
									<img id = "checkerLimit_PaymentCategory" data-checkerPaymentCategoryEnabled = "{{ checkerPaymentCategoryEnabled }}" tabindex="1" 
										 src="{{checkBoxIcon checkerPaymentCategoryEnabled}}" class="chkBoxAlign" width="16" height="16" border="0">
								</h2>
							</div>
						</div>
					</div>
					<div id="payCategoryCheckerInfoDiv"  class="panel-body">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>{{getLabel  "lbl.clientUser.limit.templatePayCat.defaultLimitProfile" "Default Limit Profile"}}</label>
								
								{{#if checkerPaymentCategoryEnabled}}
									<select id="defChecker_PaymentCategory" name="defChecker_PaymentCategory" class="form-control" tabindex="1">
								{{else}}
									<select id="defChecker_PaymentCategory" name="defChecker_PaymentCategory" class="form-control" disabled="disabled" tabindex="1">
								{{/if}}	
									<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
									{{#each profileList}}
										{{option profileId profileDescription assignedFlag }}
									{{/each}}
								</select>
							</div>
						</div>
						
					
								<div class="grid">
									<table class="view-grid" style="width:100%;table-layout: fixed;">
										<thead>
											<tr class="view-grid-header">
												<td class="view-grid-header-text" style="width: 60%;">Payment Categories</td>
												<td class="view-grid-header-text" style="width: 40%;">Limit Profile</td>
											</tr>
														
										</thead>			
										<tbody>	
										{{#if checkerPaymentCategoryEnabled}}
											  {{#each checkerPaymentCategory}}
											  		<tr class="view-grid-body">
											  			<td class="view-grid-body-content textWrap" title="{{categoryDescription}}" id="{{categoryCode}}" style="width: 60%;">{{getLabel categoryDescription categoryDescription}}</td>
											  			<td class="view-grid-body-content" style="width: 40%;">
										  					<select id="PaymentCategory_checker_{{categoryCode}}" name="PaymentCategory_checker_{{categoryCode}}" 
											  					data-categoryCode="{{ categoryCode }}" data-categoryCode="{{ categoryDescription }}" class="form-control profileSelect" tabindex="1">
																	<<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
																	{{custProfileSelectOption ../profileList tempTypeCode tempTypeDescription }}																	
															</select>
											  			</td>
													</tr>
											  {{else}}
													<tr class="view-grid-body">
															<td class="view-grid-body-content" colSpan="2" style="padding-bottom: 1%;" >&nbsp</td>
													</tr>
											 {{/each}}	
										{{else}}
											 {{#each makerPaymentCategory}}
										  		<tr class="view-grid-body">
										  			<td class="view-grid-body-content textWrap" title="{{categoryDescription}}">{{getLabel categoryDescription categoryDescription}}</td>
										  			<td class="view-grid-body-content">
											  			<select id="PaymentCategory_checker_{{categoryCode}}" name="PaymentCategory_checker_{{categoryCode}}" data-categoryCode="{{ categoryCode }}" data-categoryCode="{{ categoryDescription }}" class="form-control profileSelect" disabled="disabled" tabindex="1">
															<option value="Select" >{{getLabel "lbl.clientUser.select" "Select"}}</option>
															{{custProfileSelectOption ../profileList tempTypeCode tempTypeDescription }}																	
														</select>
										  			</td>
												</tr>
											 {{/each}}	
										{{/if}}	 
										</tbody>
									</table>
								</div>
							
					</div>
				</div>
			{{/selectAsset}}
		{{/each}}
	</div>
</div>
</div>