<div class="panel panel-default" >
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="panel-title">
					<span id="alertsInfoCaret"
						class="fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>
					<span>{{getLabel "lbl.role.alert" "Alerts"}}</span> 
					<img id="alertsAll_{{assetid}}" src="{{checkBoxIcon assignAllAlerts}}"
					data-version = "{{ assignAllAlerts_version }}"
					 class="chkBoxAlign" width="16"
						height="16" border="0">
				   <label id = "alertsAll_{{assetid}}" for = "alertsAll_{{assetid}}" class="checkbox-inline noLeftPadding">{{getLabel "lbl.role.alert1" "All"}}</label>
				   <label id="lblAlertCount" class="checkbox-inline pull-right">{{alertsAssignedCount}} of {{alertsCount}}{{getLabel "lbl.role.alert2" " Selected"}}</label>
				</h2>
			</div>
		</div>
	</div>
	<div id="alertsInfoDiv" class="panel-body">
		<div class="row grid">
			<table class="view-grid" style="width: 99%">
				<thead>
					<tr class="view-grid-header">
						<td class="view-grid-header-text" style="width: 10%"></td>
						<td class="view-grid-header-text">{{getLabel "lbl.role.alert3" "Alert"}}</td>
					</tr>
				</thead>
				<tbody>
					{{#each alerts}}
					<tr class="view-grid-body">
						<td class="view-grid-body-content text-center "><a
							class="limit-reached test"><img
								id="chkAlert_{{../assetid}}_{{alertId}}"
								data-alertid = "{{ alertId }}"
								data-alerttype = "{{ alertType }}"
								data-assetid="{{../assetId}}"
								data-version = "{{ version }}"
								data-digest = "{{ digest }}"
								src="{{checkBoxIcon assignedFlag}}" width="16" height="16"
								border="0"></a></td>
						<td class="view-grid-body-content">{{alertType}}</td>
					</tr>
					{{else}}
					<tr class="view-grid-body">
						<td class="view-grid-body-content" colSpan="4"
							style="padding-bottom: 1%;">&nbsp</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>