<div class="panel panel-default"  id="templatePanel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="panel-title">
						<span id="templateInfoCaret" class="fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>
						<span>{{getLabel "lbl.role.paytemp" "Template"}}</span> 
							<img id="templateAll_02" data-version = "{{ assignAllTemplates_version }}" src="{{checkBoxIcon assignAllTemplates}}" class="chkBoxAlign" width="16"
							height="16" border="0">
						<label id="templateAll_02" for="templateAll_02" class="checkbox-inline noLeftPadding">{{getLabel "lbl.role.paytemp1" "All"}}</label>
						<label id="lblTemplateCount" class="checkbox-inline pull-right">{{templatesAssignedCount}} of {{templatesCount}}{{getLabel "lbl.role.paytemp2" " Selected"}}</label>
					</h2>
				</div>
			</div>
		</div>

		<div id="templateInfoDiv"  class="panel-body">
			<div class="row grid">
					<table class="view-grid" style="width: 100%">
						<thead>
							<tr class="view-grid-header">
								<td class="view-grid-header-text" style="width: 5%"></td>
								<td class="view-grid-header-text">{{getLabel "lbl.role.paytemp3" "Template Name"}}</td>
								<td class="view-grid-header-text">{{getLabel "lbl.role.paytemp4" "Status"}}</td>
								<td class="view-grid-header-text">{{getLabel "lbl.role.paytemp5" "Company Name"}}</td>
							</tr>

						</thead>
						<tbody>
							 {{#each templates}}
							<tr class="view-grid-body">
								<td class="view-grid-body-content text-center "><a
									class="limit-reached test"> <img
										id="chkTemp_02_{{templateId}}"
										
										data-subsidiaryId = "{{ subsidiaryId  }}"
										data-templateid = "{{ templateId }}"
										data-subsidiaryname = "{{ subsidiaryName }}"
										data-templatename = "{{ templateName  }}"
										data-assetid="{{../assetId}}"
										data-version = "{{ version }}" 
										data-digest = "{{ digest }}"
										src="{{checkBoxIcon assignedFlag}}" width="16" height="16"
										border="0"></a></td>

								<td class="view-grid-body-content">{{templateName}}</td>
								<td class="view-grid-body-content">{{getStatusExpression assignedFlag}}</td>
								<td class="view-grid-body-content">{{getStringWithSpecialChars subsidiaryName}}</td>
							</tr>


							{{else}}
							<tr class="view-grid-body">
								<td class="view-grid-header-text view-grid-body-content"
									colSpan="4" style="width: 20%; padding-bottom: 1%;">&nbsp</td>
							</tr>

							{{/each}}
						</tbody>
					</table>

			</div>
		</div>
		
	</div>