<div class="panel panel-default" id="paymentGranularPanel">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="panel-title">
					<span id="payGranularInfoCaret"
						class="fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>
					<span>Payment Granular Privileges</span>
				</h2>
			</div>
		</div>
	</div>
	<div id="payGranularInfoDiv" class="panel-body">
		<div class="row gridGran">
					<table class="view-grid">
						<thead>
							<tr class="view-grid-header">
								<td class="view-grid-header-text">Account</td>
								<td class="view-grid-header-text">Account Name</td> 
								<td class="view-grid-header-text">Payment Package</td>
								{{#each (splitOperation granularPermission.paymentOperations) }}
									<td class="view-grid-header-text hidden" style="width:20%;" id="grPayCol_{{@index}}">{{colName}}</td> 
								{{/each}}
							</tr>
						</thead>
						<tbody>
							{{#each granularPermission.payments}}
									<tr class="view-grid-body">
										<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{accountNo}}</td>														
										<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{getStringWithSpecialChars accountName}}</td>
										<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{packageName}}</td>
										{{#each (splitMask mask) }}
											{{#if isAssign}}
												<td class="view-grid-body-content hidden">
													<a class="limit-reached test">
														<img id="chkPayGran_{{../../assetid}}_{{@index}}_{{../accountId}}_{{../packageId}}"
															data-accountId = "{{ ../accountId }}"
															data-accountName = "{{ ../accountName }}"
															data-accountNo = "{{ ../accountNo }}"
															data-gpermissionType = "{{ ../gpermissionType }}"
															data-assetId="{{../../assetId}}"
															data-packageId="{{../packageId}}"
															data-packageName="{{../packageName}}"
															data-obligatorId="{{../obligatorId}}"
															data-version = "{{ version }}"
															src="{{checkBoxIcon true}}" width="16" height="16" border="0">
													</a>
												</td>
											{{else}}
												<td class="view-grid-body-content hidden">
													<a class="limit-reached test">
														<img id="chkPayGran_{{../../assetid}}_{{@index}}_{{../accountId}}_{{../packageId}}"
															data-accountId = "{{ ../accountId }}"
															data-accountName = "{{ ../accountName }}"
															data-accountNo = "{{ ../accountNo }}"
															data-gpermissionType = "{{ ../gpermissionType }}"
															data-assetid="{{../../assetId}}"
															data-packageId="{{../packageId}}"
															data-packageName="{{../packageName}}"
															data-obligatorId="{{../obligatorId}}"
															data-version = "{{ version }}"
															src="{{checkBoxIcon false}}" width="16" height="16" border="0">
													</a>
												</td>
											{{/if}} 
										{{/each}}														
									</tr>
								{{else}}
									<tr class="view-grid-body">
											<td class="view-grid-body-content" colSpan="25" style="padding-bottom: 1%;" >&nbsp</td>
									</tr>		
								{{/each}}											
						</tbody>
					</table>
		</div>
	</div>
</div>