<div>
				<div class="panel panel-default">						
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12">
								<h2 class="panel-title">	
									<span id="forecastCaret" class = "fa fa-caret-up pull-left cursor_pointer toggle-handler"></span>								
									<span class="ft-padding-l ">{{getLabel "lbl.rolesrv.10" "Cashflow Forecast"}}</span>								
								</h2>
							</div>
						</div>
					</div>
					<div id="forecastAssetBody" class="panel-body">
						<div id="forecastingFunctionTableDiv">
						 {{#each assets}}
							{{#selectAsset assetId "10"}}
							 {{#if isFunction }}
							<table class="view-grid" style="width:100%">
								<tbody>
									<tr class="view-grid-header"><td class="view-grid-header-text" style="width:20%;">{{getLabel "lbl.role.privfunction" "Function"}}</td><td class="view-grid-header-text">{{getLabel "lbl.role.dtls" "Details"}}</td></tr>
											{{#if packages}}
												<tr class="view-grid-body">
													<td class="view-grid-body-content">{{getLabel "lbl.role.pkg" "Packages"}}</td>
													<td class="view-grid-body-content" style="width:80%;">
														{{getListExpression packages "packageName"}}	
													</td>
												</tr>
											{{/if}}
											{{#if widgets}}
												<tr class="view-grid-body">
													<td class="view-grid-body-content">{{getLabel "lbl.role.widget" "Widgets"}}</td>
													<td class="view-grid-body-content" style="width:80%;">
														{{getListExpression widgets "widgetType"}}	
													</td>
												</tr>
											{{/if}}	
										</tbody>
										{{/if}}	
									{{/selectAsset}}
								{{/each}}
							</table>
						</div>
					<!-- Start of Forecasting -Account table -->							
						<div class="ft-margin-t" id="brAccountTableDiv">
						{{#each assets}}
							{{#selectAsset assetId "10"}}
							{{#if accounts}}
							<table class="view-grid" style="width:100%">
								<thead>
									<tr><td colspan="25" class="view-grid-section-header">{{getLabel "lbl.role.acct" "Accounts"}}</td></tr>
									<tr class="view-grid-header">
										<td class="view-grid-header-text" style="width:20%;" >{{getLabel "lbl.role.acctNo" "Account No"}}</td>
										<td class="view-grid-header-text" style="width:20%;" >{{getLabel "lbl.role.acctNm" "Account Name"}}</td>
										<td class="view-grid-header-text" style="width:20%;" >{{getLabel "lbl.role.clientDesc" "Client Description"}}</td>
									</tr>		
								</thead>
								<tbody>							
										
												{{#each accounts}}
													<tr class="view-grid-body">
														<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{getColoredExpression colorClass accountNo}}</td>
														<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{getColoredExpression colorClass accountName}}</td>
														<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >{{getColoredExpression colorClass subsidiaryName}}</td>
													</tr>													
												{{else}}
													<tr class="view-grid-body">
															<td class="view-grid-body-content" colSpan="3" style="padding-bottom: 1%;" >&nbsp</td>
													</tr>										
												{{/each}}											
											
								</tbody>
							</table>
								{{/if}}
								{{/selectAsset}}
							{{/each}}							
						</div>
						<!-- End of Forecasting -Account table -->		
					<!-- Start of Forecasting View Service - Privileges Table -->
						<div class="ft-margin-t" id="forecastingPrivileges">
						{{#each assets}}
							{{#selectAsset assetId "10"}}
								{{#if permissions}}
								<table class="view-grid" style="width:100%">
									<thead>
										<tr><td colspan="25" class="view-grid-section-header">{{getLabel "lbl.role.privileges" "Privileges"}}</td></tr>
										<tr class="view-grid-header">
											<th class="view-grid-header-text" >{{getLabel "lbl.role.type" "Type"}}</th>
											<th class="view-grid-header-text" style="width:20%;">{{getLabel "lbl.role.privView" "View"}}</th>
											<th class="view-grid-header-text" style="width:20%;">{{getLabel "lbl.role.privEdit" "Edit"}}</th>
											<th class="view-grid-header-text" style="width:20%;">{{getLabel "lbl.role.privAppr" "Approve"}}</th>
										</tr>		
									</thead>
									<tbody>							
										{{#each permissions}}
											<tr class="view-grid-body">
												<td class="view-grid-header-text view-grid-body-content" >{{getColoredExpression colorClass screenName}}</td>
																{{#ifCond rmForView '==' "Y" }}
																{{#if view}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >
													<i class="fa fa-check"></i>
												</td>
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/if}}
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/ifCond}} 
																{{#ifCond rmForEdit '==' "Y" }}
																{{#if edit}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >
													<i class="fa fa-check"></i>
												</td>
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/if}}
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/ifCond}}
																{{#ifCond rmForAuth '==' "Y" }}	
																{{#if auth}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" >
													<i class="fa fa-check"></i>
												</td>
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/if}}
																{{else}}
												<td class="view-grid-header-text view-grid-body-content" style="width:20%;" ></td>
																{{/ifCond}}
											</tr>
										{{else}}
											<td class="view-grid-header-text view-grid-body-content" colspan="4" style="width:20%;" >None Selected</td>											
										{{/each}}											
									</tbody>
								</table>
								{{/if}}	
								{{/selectAsset}}
							{{/each}}																			
						</div>
						<!-- End of Forecasting View Service - Privileges Table -->		
											
					</div>
				</div>
			</div>
			